@mixin badge-base(){
    display:inline-block;
    padding: 4px 8px;
    min-width: 96px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.07px;
    text-align: center;
    border-radius: 20px;
}