
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #292932;
}

.page-title{
    font-size: 96px;
    color:#fafafb;
    font-weight: 600;
}